.message{
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.sender-bot{
	font-size: 12px;
	text-align: left;
}

.message-bot{
	font-size: 18px;
	background-color: rgba(5, 114, 150,0.4);
	text-align: left;
	padding:5px;
	border-radius: 10px;
	margin-bottom: 20px;
}

.sender-user{
	font-size: 12px;
	text-align: right;	
}

.message-user{
	font-size: 18px;
	background-color: rgba(33, 161, 204,0.4);
	text-align: right;
	padding:5px;
	border-radius: 10px;
	margin-bottom: 20px;
}

.ChatWindow{
	margin:auto;
	width: 700px;
	background-color: rgba(255,255,255,0.4); 
	border-radius: 10px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 150px;
	height: 380px;
}