
.sender-user{
	font-size: 12px;
	text-align: right;	
}

.message-user{
	font-size: 18px;
	background-color: rgba(33, 161, 204,0.4);
	text-align: right;
	padding:5px;
	border-radius: 10px;
	margin-bottom: 20px;
}